.row {
  // padding: 0;
}
.col {
  margin-top: 3rem;

  height: 60vh;
  background-color:rgb(26, 25, 25);
  // padding: 1rem;
  margin-right: 5rem;
  margin-left: 5.2rem;
  border-radius: 2px;
}

.title {
  font-family: 'PT Sans', sans-serif;
  margin: 1.5rem auto;
  font-size: 2.5rem;
  width: 11rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
  
}

.card_img {
  height: 15rem;
  border-radius: 4px;
}

.jobtl {
  padding: 1rem;
  // margin-top: 2rem;
  font-size: 2rem;
}

.icon {
  margin: 2rem 2rem 1rem 2rem;
  display: block;
  font-size: 2rem;
}

.addr {
  font-size: 1.2rem;
}